
#Principal{
    color: #fff;
    position: relative !important;
    height: 100vh;
}
#Principal::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../assets/img/img2.jpg") center center no-repeat fixed;
    background-size: cover;
    z-index: -1;
}
.Login{
    margin: auto;
    width: 600px;
    height: 400px;
    padding: 4%;
    color: black
}
Label{
    color: #fff !important;
}
Input{
    background: transparent !important;
    border: 0!important;
    color: #fff!important;
    font-size: 20px!important;
    outline: none !important;
    width: 100%!important;
    border-bottom: 1px solid rgb(248, 246, 246)!important;
}
.input{
    color: #fff!important;
}